<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eem.apps.enelmall"
    android:versionCode="1"
    android:versionName="0.1.6" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/eem_logo"
        android:label="@string/app_name"
        android:theme="@style/eem_Theme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".StartActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OffersActivity"
            android:label="@string/title_activity_offers" >
        </activity>
        <activity
            android:name=".DetailsActivity"
            android:label="@string/title_activity_details"
            android:parentActivityName=".OffersActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eem.apps.enelmall.OffersActivity" />
        </activity>
        <activity
            android:name=".StoreDetailsActivity"
            android:label="@string/title_activity_store_details"
            android:parentActivityName=".DetailsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eem.apps.enelmall.DetailsActivity" />
        </activity>
        <activity
            android:name=".FilterActivity"
            android:label="@string/title_activity_filter"
            android:parentActivityName=".OffersActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eem.apps.enelmall.OffersActivity" />
        </activity>
    </application>

</manifest>
